body{
    height:400vw;
    position: relative;
}
.container{
    display:flex;
    flex-direction:column;
    height:100%;
}
.container div{
    height:25%;
}
a{
    background-color:red;
    text-decoration:none;
    color:white;
    padding:15px;
    border-radius:6px;
    position:fixed;
    bottom:0;
    right:0;
}
button{
    background-color:transparent;
    border:none;
}